@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./fonts";
@import "./variables";
@import "./overwrite/index.scss";

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: $color-primary-500;
  border-radius: 999px;
}

::-webkit-scrollbar-track {
  background: $color-primary-50;
}

:-webkit-autofill{
  box-shadow: 0 0 0 999px $color-gray-25 inset;
}