@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./fonts";
@import "./overwrite/index.scss";

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #666;
  border-radius: 999px;
}

::-webkit-scrollbar-track {
  background: #ccc;
}

:-webkit-autofill{
  box-shadow: 0 0 0 999px #f9f9fc inset;
}