.custom-image-table .ant-card-body {
  padding: 18px 24px;
  height: 80px;
  display: flex;
  align-items: center;
}

.custom-avatar {
  border-radius: 8px !important;
  width: 44px !important;
  height: 44px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.custom-avatar img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}

.custom-meta {
  height: 34px;
  display: flex;
  align-items: center;
}

.ant-card-meta-title {
  height: 20px;
}

.custom-description {
  font-size: 14px;
}
