.table-pagination {
  position: relative;
  justify-content: end;
  .ant-pagination {
    width: 100%;
    display: flex;
    justify-content: end;
    padding: 0 24px;
    display: flex;
    align-items: center;
    font-weight: 500;

    .ant-select {
      height: 32px;
      .ant-select-selector {
        cursor: pointer;
      }
      .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
        background-color: #f4ecfb;
      }
    }
    .ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-link-icon {
      color: #883dcf;
    }
    .ant-pagination-options {
      display: flex;
      align-items: center;
      .ant-select-selection-item {
        font-family: ps-medium;
      }
    }
    .ant-pagination-item-link {
      color: #883dcf;
      background-color: #f4ecfb;
    }
    .ant-pagination-next:active .ant-pagination-item-link {
      background-color: #f4ecfb;
    }
    .ant-pagination-prev:active .ant-pagination-item-link {
      background-color: #f4ecfb;
    }
    .ant-pagination-item {
      &:active {
        background-color: #f4ecfb;
      }
      background-color: #f4ecfb;
    }

    .ant-pagination-item a {
      color: #883dcf;
    }

    .ant-pagination-item-active {
      border: 1px solid #883dcf;
      background-color: #883dcf;

      a {
        color: #ffffff;
      }
    }
  }
  .ant-pagination-total-text {
    font-family: ps-semiBold;
    color: gray;
    position: absolute;
    left: 0;
    padding-left: 24px;
  }
}
