.ant-select {
  height: 40px;
  outline: none;
  &.ant-select-focused {
    .ant-select-selector {
      background-color: $color-white !important;
      transition: none;
    }
  }
  .ant-select-selector {
    background-color: $color-gray-25 !important;
    height: 100%;
    border-color: $color-gray-100 !important;
    box-shadow: none !important;

    .ant-select-selection-placeholder {
      line-height: unset;
      height: 20px;
      color: $color-gray-400;
    }
    .ant-select-selection-item {
      height: 20px;
      line-height: unset;
    }
  }
  &:hover {
    .ant-select-selector {
      border-color: $color-gray-100 !important;
    }
  }
  .ant-select-selection-overflow-item {
    height: 20px;
    .ant-select-selection-item {
      margin: 4px 6px;
      align-items: center;
      height: 26px;
      color: $color-primary-500;
      background-color: $color-primary-50;
    }
  }
  .ant-select-selection-item {
    .ant-select-selection-item-content {
      height: 20px;
      font-weight: 400;
    }
    .ant-select-selection-item-remove {
      color: $color-primary-500;
      &:hover {
        color: $color-primary-500;
      }
    }
  }
}