.ant-table-wrapper {
  background-color: $color-white;
  border-radius: 12px;
  .ant-table-column-sorter-down.active {
    color: $color-primary-500;
  }
  .ant-table-column-sorter-up.active {
    color: $color-primary-500;
  }
  .ant-table-content {
    font-family: ps-Bold;
    font-size: 14px;
    font-weight: 500;
    .ant-checkbox {
      &-checked {
        .ant-checkbox-inner {
          background-color: $color-primary-500;

          &:hover {
            background-color: $color-primary-500;
          }
        }
        &:not(.ant-checkbox-disabled):hover {
          .ant-checkbox-inner {
            background-color: $color-primary-500;
          }
        }
      }
    }
    .ant-table-thead {
      padding-top: 2px;
      .ant-checkbox-inner {
        border: 1px solid $color-primary-500;
      }
      .ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover .ant-checkbox-inner {
        border: 1px solid $color-primary-500;
      }
      .ant-checkbox-indeterminate .ant-checkbox-inner:after {
        background-color: $color-primary-500;
      }

      > tr {
        > th {
          background-color: $color-white;
          padding: 18px 22px;
        }
      }
    }
    .ant-table-tbody {
      color: $color-gray-500;
      .ant-checkbox-inner {
        border: 1px solid $color-primary-500;
      }
      tr {
        td {
          padding: 18px 22px;
        }
      }
      .ant-table-row.ant-table-row-selected > .ant-table-cell {
        background-color: $color-gray-25;
      }
    }
  }
  .ant-pagination {
    padding: 0 24px;
    display: flex;
    align-items: center;
    font-weight: 500;

    .ant-select {
      height: 32px;
      .ant-select-selector {
        cursor: pointer;
      }
      .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
        background-color: $color-primary-50;
      }
    }
    .ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-link-icon {
      color: $color-primary-500;
    }
    .ant-pagination-options {
      display: flex;
      align-items: center;
      .ant-select-selection-item {
        font-family: ps-medium;
      }
    }
    .ant-pagination-item-link {
      color: $color-primary-500;
      background-color: $color-primary-50;
    }
    .ant-pagination-next:active .ant-pagination-item-link {
      background-color: $color-primary-50;
    }
    .ant-pagination-prev:active .ant-pagination-item-link {
      background-color: $color-primary-50;
    }
    .ant-pagination-item {
      background-color: $color-primary-50;
      &:active {
        background-color: $color-primary-50;
      }
    }

    .ant-pagination-item a {
      color: $color-primary-500;
    }

    .ant-pagination-item-active {
      border: 1px solid $color-primary-500;
      background-color: $color-primary-500;

      a {
        color: $color-white;
      }
    }
  }
}

.secondary-table {
  .ant-table-thead > tr > th {
    background-color: $color-gray-25 !important;
  }
}
.ant-pagination-total-text {
  font-family: ps-semiBold;
  color: gray;
  position: absolute;
  left: 0;
  padding-left: 24px;
}
