.custom-textarea {
  height: 140px !important;
  background-color: hwb(240 98% 1%) !important;
  border-color: $color-gray-100 !important;
  box-shadow: none !important;
  outline: none;

  &::placeholder {
    color: $color-gray-400 !important;
  }
  &:focus,
  &:focus-within {
    background-color: $color-white !important;
    border-color: $color-gray-100 !important;
    box-shadow: none !important;
    outline: none;
  }

  &.readonly {
    background-color: $color-gray-25 !important;
    cursor: not-allowed;
    pointer-events: none;
  }

  &.readonly:focus,
  &.readonly:focus-within {
    background-color: $color-gray-25 !important;
    border-color: $color-gray-100 !important;
    box-shadow: none !important;
    outline: none;
  }
}
