.custom-textarea {
  height: 140px !important;
  background-color: #f9f9fc !important;
  border-color: #e0e2e7 !important;
  box-shadow: none !important;
  outline: none;

  &::placeholder {
    color: #858d9d !important;
  }
  &:focus,
  &:focus-within {
    background-color: #fff !important;
    border-color: #e0e2e7 !important;
    box-shadow: none !important;
    outline: none;
  }

  &.readonly {
    background-color: #f9f9fc !important;
    cursor: not-allowed;
    pointer-events: none;
  }

  &.readonly:focus,
  &.readonly:focus-within {
    background-color: #f9f9fc !important;
    border-color: #e0e2e7 !important;
    box-shadow: none !important;
    outline: none;
  }
}
